<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>





<main>

    <div class="container mt-5">

        <h2 th:text="${title}"/>

        <span th:each="li : ${aboutPost}">
            <span th:if="${!#strings.isEmpty(li.photourl)}"><img th:src="@{${li.photourl}}"/><br/></span>
        <span style="white-space: pre-line" th:text="${li.about}"></span>
        </span>


    <div th:if="${ #authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">


        <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Edit
        </a><br/>
        <div class="collapse" id="collapseExample">
        <div th:each="el : ${aboutPost}">
            <form  method="post">
                <textarea type="text"   name="about" placeholder="Введите назвение статьи" class="form-control">[[${el.about}]]</textarea><br>

                <input type="text" name="photourl" th:value="${el.photourl}" placeholder="photo url" class="form-control"><br>
                <button type="submit" class="btn btn-secondary">Обновить</button>
            </form>

        </div>
        </div>
    </div>

    </div>


</main>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>