<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>





<main>

    <div class="container mt-5 mb-5">
        <h1>Добавление статьи</h1>
        <form th:action="@{/blog/add}"  th:object="${post}" method="post"  enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Введите назвение статьи" class="form-control"><br>
            <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
            <input type="text" name="tag" placeholder="тэг" class="form-control"><br>
            <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control"></textarea><br>
            <label>Photos: </label>
            <input type="file" name="image" class="form-control" data-classButton="btn btn-primary" accept="image/png, image/jpeg" data-classIcon="icon-plus" data-buttonText="Your label here."/><br>
            <button type="submit" class="btn btn-success">Добавить статью</button>
        </form>


    </div>

</main>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>