<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Парсинг</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>





<main>

    <div class="container mt-5">
        <div class="jumbotron bg-dark text-white" style='
           background-size: cover;
    height: 100%;
    background-image: url("https://source.unsplash.com/1600x900/?weather"'>

        <h1>Weather</h1>
        City: <span th:text="${cityshow}"/> <br>
        Temp: <span th:text="${temp}"/> <br>
           Max temp: <span th:text="${temp_max}"/> <br>
               Min temp: <span th:text="${temp_min}"/> <br>
                    Feels: <span th:text="${feels}"/> <br>
                       Humidity: <span th:text="${humidity}"/> % <br>
        </div>

        <form action="/parse" method="post">
            <input type="text" name="city" placeholder="Введите город" class="form-control"><br>
            <button type="submit" class="btn btn-secondary">Узнать погоду</button>
        </form>
        </div>

    </div>

</main>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>