<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>





<main>

    <div class="container mt-5">
        <h2>Registration</h2>
        <b><span th:text="${message}"/></b> <br>
<form th:action="${path}" th:object="${user}" method="post">
    <div><label> User Name: <input type="text" th:field="*{username}" name="username" id="name" class="form-control"/> </label>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    </div>


    <div><label> Password: <input type="password" th:field="*{password}" name="password" id="password" class="form-control"/> </label>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    </div>


    <div><input type="submit" value="Registration" class="btn btn-secondary"/></div>
</form>
        <div th:insert="blocks/footer :: footer"></div>
</body>
</html>