<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>





<main>
    <div th:if="${ #authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">
<div class="container mt-5">
    <h1>Users</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    <span th:each="el : ${users}" >
<tr>
    <td> <b th:text="${el.username}"/></td>
      <td> <span th:text="${el.roles}"/></td>
       <td><a th:href="'/user/' + ${el.id}" class="btn btn-secondary">Детальнее</a></td>
    <td><a th:href="'/user/' + ${el.id} + '/del'" class="btn btn-secondary">Delete</a></td>
</tr>

    </span>
        </tbody>
    </table>

</div>
    </div>
</main>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>