<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>





<main>
    <div th:if="${ #authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">
        <div class="container mt-5">
    <form action="/user" method="post">

            <input type="text" name="username" th:field="${user.username}"/><br/>






        <td th:each="role : ${roles}">
            <div>
                <input type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}"
                       th:utext="${role}">
            </div>
        </td>

<!--        <span th:each="el : ${user}" >-->
    <input type="hidden" th:value="${user.id}" name="userId">
<!--        </span>-->
    <input type="hidden" value="${_csrf.token}" name="_csrf">
    <button class="btn btn-secondary" type="submit">Save</button>

    </form>
    </div>
    </div>
</main>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>